/UsesShapes/nbproject/private/
/UsesShapes/build/
/RunPeople/nbproject/private/
/UsesPeople/nbproject/private/
/UsesPeople/build/
/Tut42/build/
/UsesPeople2/nbproject/private/
/UsesPeople2/build/
/UsesEmployees/nbproject/private/
/UsesEmployees/build/
